// .header {
//     padding-top: 2rem;
//     padding-left: 2rem;
//     display: flex;
//     justify-content: space-between;
//     padding-right: 2rem;

//     &__text {
//         width: 70%;
//         height: 5rem;

//     }
// }

body {
    background-color: #1b1b1b;

}


.word-bubble {
    position: absolute;
    top: 13rem;
    left: 36.5rem;
    width: 650px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}



.word-bubble-text {
    color: #1b1b1b;
    text-align: center;
    font-size: 1.5rem;
}

.solar__image {
    width: 100rem;
}

.planet__images {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25rem;
    align-items: center;
    left: 26rem;

    &--individual {
        padding: 1rem;
    }

}

.container {
    padding-left: 1rem;
}

.text {
    width: 65rem;
    font-size: 2.5rem;
    position: absolute;
    top: 15rem;
    left: 48.5rem;
}