.planet-page {
    
    &__title {
        margin-bottom: 2rem;
    }

    &__data-container {
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__data-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__data-heading {
        font-weight: 600;
    }

    &__data {

    }

    &__data-super-script {
        font-size: 0.75rem;

    }
}