.planet-page {

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }

    &__info {
        max-width: 30rem;
        margin-right: 10rem;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__data-container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__data-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    &__data-heading {
        font-weight: 600;
    }

    &__data {

    }

    &__data-super-script {
        font-size: 0.75rem;

    }

    &__planet-container {

    }

    &__astronaut-container {
        margin-left: 4rem;
    }
}