.gallery {
    margin: 0 auto;
}

.gallery__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    padding-bottom: 6rem;
}

.gallery__image {
    width: 20rem;
    height: 15rem;
    border: 5px solid darkgrey;
    object-fit: cover;
}

.gallery__heading {
    text-align: center;
    padding-bottom: 3rem;
    padding-right: 3rem;
    margin-top: 4rem;
    margin-left: 2rem;
}