// Typical font style
@font-face {
    font-family: "Avenir";
    src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype"), url(../assets/fonts/alt/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Semi bold font style
@font-face {
    font-family: "Avenir";
    src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format("opentype"), url(../assets/fonts/alt/AvenirNextLTProDemi.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//Bold font style
@font-face {
    font-family: "Avenir";
    src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format("opentype"), url(../assets/fonts/alt/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//need to correctly link to rest of pages