li {
    color: red
}

.button {
    width: 5rem;
    height: 5rem;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, red, orange);
    border-radius: 50%;
}